<?php declare(strict_types=1);

namespace {{ .Namespace }};

use Shopwell\Core\Framework\Plugin;
use Shopwell\Storefront\Framework\ThemeInterface;

class {{ .ClassName }} extends Plugin implements ThemeInterface
{
}
