<?php declare(strict_types=1);

namespace {{ .Namespace }}\ScheduledTask;

use Shopwell\Core\Framework\MessageQueue\ScheduledTask\ScheduledTask;

class ExampleTask extends ScheduledTask
{
    public static function getTaskName(): string
    {
        return '{{ .TaskName }}';
    }

    public static function getDefaultInterval(): int
    {
        return 300; // 5 minutes
    }
}
