<?php declare(strict_types=1);

use Shopwell\Core\TestBootstrapper;

$loader = (new TestBootstrapper())
    ->addCallingPlugin()
    ->addActivePlugins('{{ .ClassName }}')
    ->setForceInstallPlugins(true)
    ->bootstrap()
    ->getClassLoader();

$loader->addPsr4('{{ escapeBackslash .Namespace }}\\Tests\\', __DIR__);
